@font-face {
  font-family: 'Favfont';
  src: local('Calibre-Regular'), local('Calibre-Regular'),
      url('Calibre-Regular.woff2') format('woff2'),
      url('Calibre-Regular.woff') format('woff'),
      url('Calibre-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}


@font-face {
  font-family: 'Poynter';
  src: local('Poynter'),
      url('Poynter.ttf') format('truetype');
  font-style: normal;
  font-weight: bold;
}

@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Playfair+Display:wght@400;500;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300&display=swap');


html,
body{
  font-family: 'Favfont' !important;
  background-color: #F9F2EE !important;
  width: 100%;
  height: 100%;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.nav-item .nav-link{
  font-weight: bold;
  font-size: 16px;
}

.container .group{
  background-color: transparent;
  border: none;
  outline: none;
}

.container .product-image{
  margin-top: -2px;
}

.container .product-imagecart{
  margin-top: -6px;
  margin-bottom: 10px;
}

.container .product-name,.container .product-price, .container .product-form{
  margin-top: 25px;
}

.container .product-form{
  width: 3.5rem;
  height: 1.5rem;
  margin-left: 8px;
  text-align: center;
  border: none;
  outline: none;
  background-color: #9D9D9D;
}

.container .product-name a{
  text-decoration: none;
  color: teal;
  font-weight: bold;
  font-size: 19px;
}

.container .product-item{
  margin-top: 5px;
}
.container .product-items{
  margin-top: 25px;
}

.container .product-item a{
  font-weight: bold;
  text-decoration: none;
  color: teal;
  font-size: 18px;
}

.container .product-items a{
  font-weight: bold;
  color: teal;
  font-size: 18px;
}

.container .product-items a:hover{
  color: #38A3A5;
}

.container .product-price {
  font-family: 'JetBrains Mono';
  font-size: 14px;
  font-weight: bold;
}

.container .product-prices{
  font-family: 'JetBrains Mono';
  font-size: 14px;
  font-weight: bold;
  margin-top: 25px;
}

.container .product-pricepay{
  font-family: 'JetBrains Mono';
  font-size: 14px;
  font-weight: bold;
  margin-top: 1px;
}


.container .trash-btn{
  background-color: transparent;
  outline: none;
  border: none;
  margin-top: 20px;
}

.container .trash-btn:hover{
  background-color: #C5DCDD;
}

.container .group-checkout{
  background-color: #F9F2EE;
}

.container .group-placeorder{
  background-color: #F9F2EE;
}

.container .group-checkout button{
  outline: none;
  border: none;
  height: 50px;
  background-color: #38A3A5;
  font-weight: bold;
  box-shadow: 7px 8px #111;
  font-size: 17px;
  border-radius: 6px;
  font-family: "JetBrains Mono";
}

.container .group-placeorder button{
  outline: none;
  border: none;
  background-color: #38A3A5;
  font-weight: bold;
  box-shadow: 5px 5px #111;
  height: 52px;
  font-size: 17px;
  font-family: "JetBrains Mono";
  border-radius: 6px;
}

.container .group-checkout button:hover{
  background-color: #112031;
  box-shadow: 7px 8px #38A3A5;
}

.container .group-placeorder button:hover{
  background-color: #112031;
  box-shadow: 7px 8px #38A3A5;
}

.container .group-checkout h2{
  font-family: "JetBrains Mono";
  font-size: 28px;
}

.container .group-checkout h5{
  font-family: "JetBrains Mono";
  font-size: 18px;
  padding-top: 5px;
  font-weight: bold;
}


.profile-container input{
  margin: 0px 0px 10px;
  background: #E6E0DC;
  font-weight: bold;
  font-size: 16px;
  color: #111;
  border: 1px solid rgba(200, 200, 200, 0.3);
}

.shipping-container input{
  margin: 0px 0px 10px;
  background: #E6E0DC;
  font-weight: bold;
  font-size: 16px;
  color: #111;
  border: 1px solid rgba(200, 200, 200, 0.3);
}

.update-container input{
  margin: 0px 0px 10px;
  background: #E6E0DC;
  font-weight: bold;
  font-size: 16px;
  color: #111;
  border: 1px solid rgba(200, 200, 200, 0.3);
}

.profile-container input::placeholder{
  font-weight: bold;
  font-size: 16px;
}

.shipping-container input::placeholder{
  font-weight: bold;
  font-size: 16px;
}

.update-container input::placeholder{
  font-weight: bold;
  font-size: 16px;
}

.profile-container input:focus{
  background: #E6E0DC;
  font-weight: bold;
  font-size: 16px;
}

.shipping-container input:focus{
  background: #E6E0DC;
  font-weight: bold;
  font-size: 16px;
}

.update-container .update-group textarea{
  background: #E6E0DC;
  overflow: hidden;
  height: 200px;
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: bold;
}
.update-container .update-group input:focus{
  background: #E6E0DC;
  font-weight: bold;
  font-size: 16px;
}

.update-container .checkbox{
  margin-top: 15px;
}

.update-container .btn-light{
  border: none;
  background-color: #111;
  box-shadow: 4px 4px #FFB830;
  color: #fff;
  font-size: 15px;
  font-family: 'JetBrains Mono';
}

.update-container .btn-light:hover{
  background-color: #111;
  color: #fff;
}

.profile-container .profile button{
  margin: 15px 0px 30px;
  font-size: 17px;
  font-family: 'JetBrains Mono';
  background-color: #111;
  border: none;
  width: 110px;
  text-transform: uppercase;
  border-radius: 5px;
  box-shadow: 4px 4px #FFB830;
}

.update-container .profile button{
  margin: 15px 0px 30px;
  font-size: 17px;
  font-family: 'JetBrains Mono';
  background-color: #111;
  border: none;
  width: 110px;
  text-transform: uppercase;
  border-radius: 5px;
  box-shadow: 4px 4px #FFB830;
}

.shipping-container .shipping button{
  margin: 15px 0px 30px;
  font-size: 17px;
  font-family: 'JetBrains Mono';
  background-color: #111;
  border: none;
  width: 120px;
  text-transform: uppercase;
  border-radius: 5px;
  box-shadow: 4px 4px #FFB830;
}

.payment-container .payment button{
  margin: 20px 0px 30px;
  font-size: 17px;
  font-family: 'JetBrains Mono';
  background-color: #111;
  border: none;
  width: 120px;
  text-transform: uppercase;
  border-radius: 5px;
  box-shadow: 4px 4px #FFB830;
}


.payment label{
  margin-top: 3px;
  font-weight: bold;
}

.profile-container{
  margin-top: 50px;
}
.update-container{
  margin-top: 5px;
}

.container .order-ref{
  font-size: 28px;
  font-family: 'JetBrains Mono';
  margin: 20px 0px;
}

.container td, .container th{
  font-size: 15px;
  font-weight: bold;
  font-family: 'JetBrains Mono';
}

.container .btn-sm{
  background-color: #38A3A5;
  color: #fff;
}

.container .btn-sm:hover{
  background-color: #111;
  color: #fff;
}

.container .delete{
  background-color: #FF2442;
}

.container .delete:focus{
  background-color: #FF2442;
  color: white;
}

.row-review-container .list-group-item{
  background-color: #FEFBF3;
  border: none;
  box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
}

.row-review-container select{
  background: #E6E0DC;
  border: none;
  font-weight: bold;
  margin-bottom: 10px;
}

.row-review-container select:focus{
  background: #E6E0DC;
}

.row-review-container textarea{
  background: #E6E0DC;
  font-weight: bold;
  font-size: 15px;
  overflow: hidden;
  margin-bottom: 20px;
  border: none;
}

.row-review-container textarea:focus{
  background: #E6E0DC;
  font-weight: bold;
}

.container .page-item.active .page-link{
  background-color: teal;
  border: none;
}

.pagination .page-link{
  border: none;
  background-color: #111;
  color: #fff;
}

.pagination .page-link:hover{
  background-color: #FDD2BF;
  color: #111;
}

.wishlist-group img{
  border-radius: 20px;
  background-color: #C5DCDD;
}

@media screen and (max-width: 1024px){
  .container .product-name,.container .product-price, .container .product-form{
    margin-top: 1px;
  }

  .container .trash-btn{
    margin-top: -3px;
  }

  .container .product-items{
    margin-top: 10px;
  }

  .container .product-prices{
    margin-top: 10px;
  }
}

@media screen and (max-width: 884px){

  .container .product-image{
    padding-top: 10px;
  }

  .container .product-form{
    width: 3rem;
    margin-left: 20px;
  }

  .container .trash-btn{
    margin: -5px 15px;
  }

  .container .product-price {
    font-size: 12px;
    margin-top: 3px;
  }

  .container .product-name a{
    font-size: 15px;
  }

  .container .group-checkout button{
    font-size: 13px;
  }
  
  .container .group-checkout h2{
    font-size: 20px;
  }
  
  .container .group-checkout h5{
    font-size: 15px;
  }

  .container .product-pricepay{
    font-size: 11px;
  }

  .container .group-placeorder button{
    font-size: 14px;
  }
}


@media screen and (max-width: 600px){

  .container .card{
    margin-top: 20px;
  }

  .container .product-image{
    width: 70%;
  }

  .container .product-form{
    margin: 20px 0px;
  }

  .container .trash-btn{
    background-color: #C3BEF0;
    margin: 0;
  }

  .container .trash-btn:hover{
    background-color: #C3BEF0;
  }

  .container .product-name a{
    font-size: 20px;
  }

  .container .product-price{
    font-size: 15px;
  }

  .container .group-checkout button{
    font-size: 17px;
  }

  .container .product-pricepay{
    font-size: 14px;
  }

  .container .group-placeorder button{
    font-size: 18px;
  }

  .container .order-ref{
    font-size: 19.5px;
  }
}

@media screen and (max-width: 414px){
  .profile-container{
    height: 750px;
  }

}

@media screen and (max-width: 280px){
  .container .product-pricepay{
    font-size: 11.5px;
  }

  .container .group-checkout button{
    font-size: 15px;
  }

  .container .order-ref{
    font-size: 17px;
  }
}