.__hero-section{
    display: flex;
    justify-content: center;
}

.__container{
    margin-top: 80px;
    width: 100%;
    max-width: 1290px;
    background: center center/cover no-repeat;
    height: 550px;
    object-fit: contain;
    animation: animate 10s infinite;
    border-radius: 20px;
    margin-bottom: 70px;
}

.__menu-container{
    font-family: 'Playfair Display', serif;
}

.__menu-container > h1{
    font-size: 65px;
    margin-left: 25px;
    color: #fff;
    font-weight: bold;
    margin-top: 170px;
    text-shadow: 0px 2px 6px rgb(0, 0, 0, 25%);
}

.__menu-container #zcxjk23{
    margin-top: -10px;
}

@media screen and (max-width: 960px) {
    .__container{
        transform: scale(90%);
        margin-top: 0px;
    }

    .__menu-container > h1{
        font-size: 42px;
    }
}

@media screen and (max-width: 320px) {
    .__menu-container > h1{
        font-size: 35px;
    }
}

@media(max-width: 1024px){
    .__container{
        max-width: 935px !important;
    }
}

@media screen and (max-width: 1280px){
    .__container{
        max-width: 1115px;
    }
}

@keyframes animate{
    0%,100%{
        background-image: url('../Images/banner-1.jpg');
    }
    50%{
        background-image: url('../Images/banner-2.jpg');
    }
    25%{
        background-image: url('../Images/banner-3.jpg');
    }

}